@import "./_variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;500;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: snow;
    text-align: justify;
    text-decoration: none;
}
/* Página INDEX */
.bodyIndex{
    background-color: $myBackground;
}
.headMix {
    display: block;
}
.tituloPrincipal {  
    /* margin: auto; */
    padding-top: 20px;
    padding-bottom: 0;
    /* text-align: center; */
    font-weight: 600;
    font-size: 120px;
    @include flexCenter;
}
.tituloPrincipal2 {  
    /* margin: auto; */
    padding-top: 0;
    padding-bottom: 80px;
    /* text-align: center; */
    font-weight: 600;
    font-size: 120px;
    @include flexCenter;
}
.tituloPrincipal2:focus, .tituloPrincipal2:hover {
    transform: rotate(180deg);
}
.icon {
    width: 100%;
    height: auto;
    max-width: 120vh;
    padding-left: 5vh;
    padding-right: 5vh;
    background-color: rgb(247, 243, 235);
    padding: 8px;
    border-radius: 12px;
}
.readMore {
    font-size: 30px;
    font-weight: 600;
    border: none;
    padding-top: 5vh;
    padding-left: 15vh;
    padding-right: 15vh;
    padding-bottom: 5vh;
    border-radius: 14px;
    color: rgb(247, 243, 235);
    background-color:rgba(0, 0, 0, 0);
    margin: 0 auto;
    display: block;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    align-self: flex-end;
}
button:focus, button:hover { 
    background-color: rgb(247, 243, 235);
    color: black;
}
.topHeader {
    padding-bottom: 52px;
    display: flex;
    justify-content: space-evenly;
}
.topMenu {
    margin: center;
    padding: 10px;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    width: 120px;
    height: 50px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgb(80, 77, 77);
    background-color: rgb(41, 39, 39); 
}
footer {
    font-weight: 200;
    font-size: 25px;
}
.icon {
    max-width: 32px;
    max-height: 32px;
    border-radius: 6px;
}
.container {
    @include flexCenter;
}
/* FIN de Página INDEX */

/* Página AUTOR */
.bodyAuthor {
    padding: 186px 92px;
    background-image: url(images/darkForest1.jpg);
    background-position: 0;
    background-color: $myBackground;
    padding: 50px;
    font-weight: 300;
}
/* FIN de Página AUTOR */

/* Página BESTIARIO */
.bodyBestiary {
    background-image: url(images/darkForest1.jpg);
    background-position: 0;
    background-color: $myBackground;
    font-weight: 300;
}
.gridContainerBestiary {
    display: grid;
    grid-template-columns: auto auto auto;
}
.gridItemBestiary {
    padding: 8px 8px;
}
.imgBestiary {
    padding-inline-end: 12px 12px;
    width: 30vw;
    height: 40vh;
    border-radius: 4px;
}
/* FIN de Página BESTIARIO */

/* Página TALES EXPAND */
.bodyTalesExpand {
    background-color: $myBackground;
}
.containerTalesExpand {
    justify-content: center;
    align-items: center;
    padding: 40px 8px;
    justify-content: center;
}
.colorBoxTalesExpand {
    display: flex;
    padding: 12px 8px;
    justify-content: center;
}
.imgTalesExpand {
    width: 100%;
    height: auto;
    max-width: 120vh;
    padding-left: 5vh;
    padding-right: 5vh;
    background-color: rgb(247, 243, 235);
    padding: 8px;
    border-radius: 12px;
}
/* FIN de Página TALES EXPAND */

/* Página TALE */
.bodyTale{
    background-color: $myBackground;
}
.containerTale {
    display: flex;
    padding: 18px 18px;
    justify-content: center;
}
.col1 {
    padding: 18px 18px;
    /* Gradiente oscuro a claro */
    background-image: linear-gradient(#252329, snow);
}
.col2 {
    padding: 18px 96px;
}
.col3 {
    padding: 18px 18px;
    /* Gradiente claro a oscuro */
    background-image: linear-gradient(snow, #252329);
}
.footerTale {
    font-weight: 200;
    font-size: 25px;
}
/* FIN de Página TALE */

/* Página de TALES */
.bodyTales{
    background-color: $myBackground;
}
.footerTales {
    padding-top: 52px;
}
.modal {
    --gap: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: var(--gap);
    background: #252329;
}
.modalInner {
    background: snow;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 4px;
}
.modalTop {
    display: flex;
    align-items: center;
    background: silver;
}
.modalTitle {
    flex-grow: 1;
    padding: 0 var(--gap);
    font-size: 20px;
    color: #252329;
}
.modalClose {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: var(--gap);
    background: none;
    border: none;
    outline: none;
}
.modalContent p {
    padding: 0 var(--gap);
    line-height: 1.5;
    color: #252329;
}
.modalBottom {
    text-align: right;
    /* El orden de padding es como las agujas del reloj: Top, right, bottom, left */
    padding: 0 var(--gap) var(--gap) var(--gap);
}
.modalButton {
    display: inline-block;
    padding: 6px 12px;
    background: silver;
    border: none;
    outline: none;
    border-radius: 3px;
    color: snow;
    cursor: pointer;
    font: 18px;
}
.modalButton:hover {
    background: orange;
}
/* FIN de Página de TALES */
